<link href="css/login.css" rel="stylesheet" />

<PageTitle>Login</PageTitle>

<div class="keypadContainer">
    <input id="txtPinEntry" type="text" @bind-value="" />

    <div class="keypad">
        <button @onclick="">1</button>
        <button @onclick="">2</button>
        <button @onclick="">3</button>

        <button @onclick="">4</button>
        <button @onclick="">5</button>
        <button @onclick="">6</button>

        <button @onclick="">7</button>
        <button @onclick="">8</button>
        <button @onclick="">9</button>

        <button @onclick="">CLR</button>
        <button @onclick="">0</button>
        <button @onclick="">ENT</button>
    </div>
</div>